{% extends 'gabarit.twig' %}

{% block title %}Page accueil{% endblock %}

{% block contenu %}
<div class="container">
<h1>Entreprise Tshirts.fr</h1>
<table class="table">
{% for key,value in employes.Departements %}
<tr><th scope="col" colspan="3">{{value.Service}}</th></tr>

{% for cle,valeur in value.Personnel %}
<tr><td>{{valeur.nom}} {{valeur.prenom}}</td><td><a href="mailto:{{valeur.mel}}">{{valeur.mel}}</a></td><td>{{valeur.tel}}</td></tr>
{% endfor %}

{% endfor %}
</table>
</div>
{% endblock %}